*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}





/* -------Formulář border------ */



.building{
    
    height: 500px;
    width: 100%;
    margin: 0 auto;

}   




.coloro{
   
    margin: 0 auto;
   

}


label{
    font-size: 20px;
    color:rgb(255, 255, 255);
    position: relative;
    top:-10px
}

label:hover{
    font-size: 20px;
   color: white;
}
.formular{
 
    height: 400px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgb(168, 168, 168);
    background-image: linear-gradient(90deg,rgb(84, 98, 255)0%,rgb(181, 84, 250)100%); ;
    

}





form {
    display: flex;
    flex-direction: column;
   text-align: center;
    width: 85%;
    
    height: 350px;
    margin: 0 auto;
    position: relative;
    top:40px;
    

}


.loginItem{
    text-align: center;
    height:35px;
    border-radius: 10px;
    border: 1px solid rgb(163, 45, 247)100%;
    box-shadow:  0 0 5px rgb(245, 245, 245);
    background-color:rgba(255, 255, 255, 0.896);
    border: none;
    outline: 1px solid rgb(163, 45, 247)100%;
    background: inherit;
    transition: 1s;
    



   
}


h1{
    margin-top:40px;

    text-align: center;
}

.ForgotPassword{
    color: white;
    margin-top: 30px;
}

.loginItem:hover{
    box-shadow: 1px 0px 5px 0  #f8f8fa , 1px +0px 5px 0  #f0ecf4;
   

background-color: white;
color:#6b26d9;
}

.loginItem:focus{
   
    background: white;
    outline: none;

    
}

.inputSubmit{
    margin: 0 auto;
    width:60%;
    height:35px;
    background:linear-gradient(90deg,rgb(40, 54, 218)0%,rgb(163, 45, 247)100%);
  color: white;
    position: relative;
    top:30px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 10px rgb(239, 239, 239);
    transition: 1s;
    font-size: 15px;
    background: inherit;
}

.checkbox{
    margin-top: -5px;
}

.inputSubmit:hover{
    background:  white;
    color:#6b26d9;
}


.zapamatujsime{
    margin-top: 50px;
}

@media screen and (max-width: 520px){
    .formular{
        width:60%
    }
}